form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: lightgrey;
}

input {
    padding: 5px 20px;
    width: 85%;
    line-height: 16px;
    margin: 10px;
}
